# Java + Maven
target/
*.log

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
# Exclude machine-specific or volatile files
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/usage.statistics.xml
.idea/**/dictionaries
.idea/**/shelf

# Allow shared project settings
!.idea/modules.xml
!.idea/misc.xml
!.idea/compiler.xml
!.idea/libraries/
!.idea/artifacts/

# VS Code
.vscode/

# OS Files
.DS_Store

# Custom Logs / Configs
log_*.txt
*.ini
