# Java + Maven
target/
*.log

# Maven Wrapper
!.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# OS Files
.DS_Store

# Custom Logs / Configs
log_*.txt
*.ini
